<section class="my-4 p-4">
  <div class="bg-zinc-900 rounded-xl p-10 flex flex-col gap-10">
    <h2 class="text-5xl font-bold">About Us</h2>
    <p class="text-zinc-300">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos neque
      temporibus voluptatum. Dolor ab dolore aspernatur est quas nobis itaque,
      assumenda deserunt quo vel sit unde possimus ratione tenetur harum officia
      saepe adipisci voluptates molestiae, vero in, sint ad sequi nihil! Hic,
      perferendis, ducimus unde animi natus voluptatum rerum eligendi
      repellendus omnis quasi similique molestias? Itaque amet debitis, omnis ea
      necessitatibus alias aliquam voluptate in sunt repudiandae consequatur et
      ab nemo harum ipsam ullam officia facere excepturi minus quia, hic, natus
      nostrum. A facilis repellat eaque dolore sit, tempora aperiam sequi et
      molestias veritatis! Doloribus natus sunt ipsam autem incidunt?
    </p>
  </div>
</section>
