---
import Layout from "../layouts/Layout.astro";
---

<Layout
  pageTitle="Sobre Nosotros"
  pageDescription="Descubre mas sobre nosotros, nuestra mision, vision, y como nuestros servicios de desarrollo web pueden ayudar a tu marca a crecer"
>
  <h1>About</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
    recusandae, ducimus, quos odit perferendis rem porro in, incidunt illum
    repudiandae optio laborum quam? Consectetur in placeat ex itaque. Laudantium
    ullam repudiandae corrupti ab quos sapiente perferendis possimus eligendi
    voluptates soluta! Repellendus doloribus debitis consequatur tenetur id,
    odit, numquam aperiam dolor eius voluptatibus harum. Quasi ad autem facilis
    suscipit voluptas earum itaque. Ea ex obcaecati vitae, velit pariatur
    tempore amet quisquam quia natus dolorum blanditiis illo consequatur minima
    molestiae doloremque dolores assumenda doloribus animi quibusdam excepturi?
    Error odio nobis est optio voluptas dolorum maiores alias qui, eveniet, amet
    modi aut veritatis.
  </p>
</Layout>
