---
import footerLinks from "../config/footerLinks.json";
---

<footer class="bg-zinc-900 mt-10">
  <div class="container mx-auto p-4">
    <div
      class="flex justify-between items-start gap-20 flex-wrap max-md:flex-col"
    >
      {
        footerLinks.map((section) => (
          <div>
            <h4 class="text-2xl leading-normal font-medium mb-6">
              {section.title}
            </h4>
            <ul class="">
              {section.links.map((link) => (
                <li class="text-white-400 mt-3 text-base leading-none">
                  <a
                    href={link.link}
                    class="cursor-pointer hover:text-gray-400 transition-colors"
                  >
                    {link.name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
    <div
      class="flex justify-between text-white-400 mt-16 max-sm:flex-col max-sm:items-center"
    >
      <div class="flex flex-1 justify-start items-center gap-2 ursor-pointer">
        <img
          src="copyright-sign.svg"
          alt="copyright sign"
          class="rounded-full m-0 size-5"
        />
        <p>Copyright. All rights reserved</p>
      </div>
      <a class="cursor-pointer" href="/">Terms & Conditions</a>
    </div>
  </div>
</footer>
